// :root {
//     --font-family: "Manrope", sans-serif;

//     --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
//     --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

//     --color-bg: #040c18;
//     --color-footer: #031b34;
//     --color-blog: #042c54;
//     --color-text: #81afdd;
//     --color-subtext: #ff8a71;
// }



// FONTS
$font-primary: "Manrope", sans-serif;

// GRADIENTS
$gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

// COLOR
$color-bg: #040c18;
$color-footer: #031b34;
$color-blog: #042c54;
$color-text: #81afdd;
$color-subtext: #ff8a71;
$color-white: #fff;
$color__btn-background--light: #ff5a36;
$color__btn-background: #FF4820;
$color__btn-background--dark: #e6411d;

$color__heading--primary: #AE67FA;
$color__heading--secondary: #F49867;

// BORDER
$border-radius--sm: 5px;


// TRANSITIONS
$transition--sm: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);