@import '../../styles/mixins';
@import '../../styles/variables';

.gpt3__cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: $gradient-bar;

    @include respond-to('lg__2') {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        margin: 2rem;
        padding: 1.5rem;
    }

    @include respond-to('sm') {
        gap: .75rem;
        padding: 1rem;
    }

    @include respond-to('xs__2') {
        margin: 1rem .75rem;
        padding: .5rem;
    }

    &-content {
        font-family: $font-primary;

        p {
            color: $color-dark-light;
            font-size: .75rem;
            font-weight: 500;
            line-height: 1.875rem;
        }

        h3 {
            color: $color-black;
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 2.8125rem;

            @include respond-to('xl') {
                font-size: 1.25rem;
                line-height: 2.25rem;
            }

            @include respond-to('sm') {
                font-size: 1.1rem;
                line-height: 1.75rem;
            }
        }
    }

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;

        @include respond-to('lg__2') {
            margin-left: 0;
        }
    }
}