@import '../../styles/mixins';
@import '../../styles/variables';

.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;

    &-title {
        flex: 1;
        max-width: 11.25rem;
        margin-right: 2rem;

        h3 {
            font-family: $font-primary;
            color: $color-white;
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 4.6875rem;
            letter-spacing: -0.04em;

            @include respond-to('xl') {
                font-size: 1.3rem;
            }

            @include respond-to('lg') {
                font-size: 1.5rem;
            }
        }

        div {
            width: 2.375rem;
            height: 3px;
            flex-shrink: 0;

            background: $gradient-bar;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: .25rem;
        }
    }

    &-text {
        flex: 2;
        max-width: 24.375rem;
        display: flex;

        p {
            color: $color-text;
            font-family: $font-primary;
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }
}