.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_logo {
      margin-right: 2rem;

      img {
        width: 3.875rem;
        height: 1rem;
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
    }
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-links-container p,
  &-sign p,
  &-menu_container p {
    color: #fff;
  }
}