@import '../../styles/mixins';
@import '../../styles/variables';

.gpt3__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem 6rem;

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;

    &_logo {
      margin-right: 2rem;

      img {
        width: 3.875rem;
        height: 1rem;
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
    }
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-links_container p,
  &-sign p,
  &-menu_container p {
    color: $color-white;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
  }

  &-sign button,
  &-menu_container button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $color-white;
    background: $color__btn-background;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    border-radius: $border-radius--sm;
    border: none;
    outline: none;
    transition: $transition--sm;
  }

  // MOBILE MENU STYLES
  &-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }

    &_container {
      min-width: 13.125rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      text-align: end;
      background: $color-footer;
      padding: 2rem;
      position: absolute;
      top: 2.5rem;
      right: 0;
      margin-top: 1rem;
      border-radius: $border-radius--sm;
      box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

      p {
        margin: 1rem 0;
      }

      &-links-sign {
        display: none;
      }
    }
  }

  // HOVER AND ACTIVE STATES CSS CODE
  &-links_container p,
  &-menu_container-links p {

    a {
      transition: $transition--sm;
    }

    a:hover,
    a:active {
      color: rgba($color-white , .4);
      // text-decoration: underline;
    }
  }

  &-sign,
  &-menu_container {

    button:hover,
    button.active {
      background-color: $color__btn-background--light;
    }
  }
}

// ADDING MEDIA QUERIES

.gpt3__navbar {

  // TABLET WIDTH
  @include respond-to('lg') {
    padding: 2rem 4rem;
  }

  // MOBILE WIDTH
  @include respond-to('sm') {
    padding: 2rem;
  }

  &-links_container {
    @include respond-to('xl') {
      display: none;
    }
  }

  &-menu {
    @include respond-to('xl') {
      display: flex;
    }
  }

  &-sign {
    @include respond-to('sm') {
      display: none;
    }
  }
}