@import "./styles/mixins";
@import "./styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: $color-bg;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient {

  &__bg {
    background: -moz-radial-gradient(circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%);

    background: -webkit-radial-gradient(circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%);

    background: -o-radial-gradient(circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%);
    background: -ms-radial-gradient(circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%);

    background: radial-gradient(circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%);
  }

  &__text {
    background: $gradient-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// HEADING
.heading {
  font-family: $font-primary;
  font-weight: 800;
  background: linear-gradient(90deg, $color__heading--primary 1.84%, $color__heading--secondary 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__primary {
    font-size: 3.2rem;
    line-height: 4.6875rem;
    letter-spacing: -0.04em;

    @include respond-to('2xl') {
      font-size: 3rem;
      line-height: 4.2rem;
    }

    @include respond-to('lg') {
      font-size: 2.8rem;
      line-height: 3.75rem;
    }

    @include respond-to('xs__1') {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }

  &__secondary {
    font-size: 2.125rem;
    line-height: 2.8125rem;
    color: #FFF;
    max-width: 31.875rem;

    @include respond-to('lg') {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    @include respond-to('xs__2') {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

// PARAGRAPH

.paragraph-component {
  font-family: $font-primary;
  color: $color-subtext;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
  transition: $transition--sm;
  padding-bottom: 0px 4px 3px 4px;
  border-bottom: 1px solid $color-subtext;

  @include respond-to('lg__2') {
    margin-top: 1rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-.5rem);
    border-bottom: none;
  }

  &:active {
    transform: translateY(-.25rem);
  }
}


.section {
  /* lG -  Media queries for medium size devices */

  /* SM - Media queries for mobile devices */

  &__padding {
    padding: 4rem 6rem;

    @include respond-to('lg') {
      padding: 4rem;
    }

    @include respond-to('sm') {
      padding: 3rem 1.5rem;
    }

    @include respond-to('xs__2') {
      padding: 1.5rem 1rem;
    }
  }

  &__margin {
    margin: 4rem 6rem;

    @include respond-to('lg') {
      margin: 4rem;
    }

    @include respond-to('sm') {
      margin: 3rem 1.5rem;
    }

    @include respond-to('xs__2') {
      margin: 1.5rem 1rem;
    }
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}