@import '../../styles/mixins';
@import '../../styles/variables';

.gpt3__footer {
    border: 1px solid whitesmoke;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $color-footer;

    &-heading {
        width: 100%;
        font-family: $font-primary;
        text-align: center;
        margin-bottom: 3rem;

        .heading__footer {
            font-size: 3.875rem;
            line-height: 4.6875rem;
            letter-spacing: -2.48px;
            max-width: none;
        }
    }

    &-btn {
        margin-bottom: 8rem;

        .btn__container {
            font-size: 1.125rem;
            border: 1px solid $color-white;
            color: $color-white;
            outline: none;
            padding: 1.2rem;
            background: transparent;
            font-weight: 500;
            transition: $transition--sm;

            &:hover {
                cursor: pointer;
                background: rgba($color-white , .9);
                color: $color-footer;
                transform: translateY(-.2rem);

                a {
                    text-decoration: underline;
                }
            }

            &:active {
                transform: translateY(-.1rem);
            }
        }
    }

    &-links {
        min-width: 100%;

        .links__container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            grid-template-rows: 1fr;
            gap: 4rem;
            // justify-content: space-between;
            // align-items: center;
        }
    }
}