@import '../../styles/mixins';
@import '../../styles/variables';

.gpt3__footer {
    border: 1px solid whitesmoke;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $color-footer;

    &-heading {
        width: 100%;
        font-family: $font-primary;
        text-align: center;
        margin-bottom: 3rem;

        .heading__footer {
            font-size: 3.875rem;
            line-height: 4.6875rem;
            letter-spacing: -2.48px;
            max-width: none;
        }
    }
}